@font-face {
  font-family: 'Telegraf';
  font-weight: 200;
  src: url('/fonts/PPTelegraf-UltraLight.otf');
  font-display: swap;
}

@font-face {
  font-family: 'Telegraf';
  font-weight: 400;
  src: url('/fonts/PPTelegraf-Regular.otf');
  font-display: swap;
}

@font-face {
  font-family: 'Telegraf';
  font-weight: 800;
  src: url('/fonts/PPTelegraf-UltraBold.otf');
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
